@font-face {
    font-family: DotGoth;
    src: url('../fonts/DotGothic16-Regular.ttf') format("truetype");
    
}

@font-face {
    font-family: pixel-anchor-jack;
    src: url('../fonts/pixel-anchor-jack.ttf') format("truetype");
}

@font-face {
    font-family: Aprior;
    src: url('../fonts/Aprior.ttf') format("truetype");
}

* {
    padding: 0;
    margin: 0 auto;
}

button {
    background: transparent;
    border: none;
}

a {
    /* color:#d47100; */
    text-decoration: none;
}

body {
    overflow-x: hidden;
    font-size: 1vw;
    font-family: 'DotGoth';
}

header {
    /* background: #242424; */
    display: flex;
    padding: 15px 100px;
    /* color: #d47100; */
    position: sticky;
    left: 0;
    top: 0;
    z-index: 3;
}


/* == GLOBAL ======================== */

.disp_grid {
    display: grid;
}

.side_pad {
    padding: 0px 17vw;
}

.top_pad {
    padding: 100px 0;
}

.DotGoth_fix {
    letter-spacing: -3px;
}

.en_acent {
    font-family: Aprior;
}

.fit_pich {
    object-fit: cover;
}


/* == LOCAL ======================== */

.sideBar {
    height: 100vh;
    width: 130vw;
    left: -30vw;
    top: 79px;
    z-index: 2;
    background: #00000070;
    position: fixed;
    /* transition: 0.5s;  */
    visibility: hidden;
}

.sideBar-back {
    /* background: #d47100; */
    height: 100%;
    width: 25vw;
    padding: 20px 15px;
}

.sideBar_but {
    color: #242424;
    font-family: 'Aprior';
    border: #242424 solid 0.5vw;
    width: 100%;
    font-size: 4vw;
    padding: 5px;
}


.head_triangle {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-left: 80px solid;
    border-bottom: 80px solid transparent;
}

h1 {
    font-family: 'Aprior';
    font-size: 45px;

}

.setingsBut {
    background: url(../img/align-justify-svgrepo-com.svg);
}

.menu {
    display: flex;
    margin: 0 -10vw;
    height: 33vw;
    font-family: 'DotGoth';
}

.menu-size {
    width: 100%;
    transform: skew(-30deg, 0deg);
    margin: 0 -1px;
    overflow: hidden;
    position: relative;
    transition: flex 0.2s;
}

.menu_title {
    position: absolute;
    right: -115px;
    bottom: 3vw;
    transform: skew(30deg,0deg);
    color: #fff;
    z-index: 1;
    pointer-events: none;
    background: #000a;
    width: 600px;
    text-align: end;
    padding: 10px 140px;
}

.menu_title_last {
    left: -100px;
    text-align: start;
}

.menu-img {
    transform: skew(30deg, 0deg);
    width: 53vw;
    position: absolute;
    left: -13vw;
    height: 100%;
    object-fit: cover;
    object-position: 30px;
    transition: 0.2s;
}

.menu-size:hover {
    flex:2 0.85 auto; 
}

.menu-img:hover {
    width:65vw;
    height: 120%;
}

.description {
    background: #d47100;
    color:#fff;
    position: relative;
    overflow: hidden;
}

.description_triangle {
    position: absolute;
    top: 0;
    left: 0;
    border-left: 20vw solid;
    border-bottom: 20vw solid transparent ;
}

.description_grid {
    grid-template-columns: 1fr 1fr ;
}

.description_title {
    font-family: pixel-anchor-jack;
    position: absolute;
    left: -19vw;
    top: 7.5vw;
    transform: rotate(-45deg);
    z-index: 30;
}

.description_title_sdw1,
.description_title_sdw2 {
    animation: sdw_lineToside1 4s linear infinite;
    position: absolute;
    left: -46vw;
    top: 20vw;
    font-size: 4em;
    font-family: pixel-anchor-jack;
    color: #444b669a;
    transform: rotate(-45deg);
    padding: 0 10px;
}

@keyframes sdw_lineToside1 {
    0% {
        transform: rotate(-45deg) translate(40%);
    }
    100% {
        transform: rotate(-45deg) translate(-60%);
    }
}

.description_title_sdw2 {
    animation: sdw_lineToside2 4s linear infinite;
    transform: rotate(-45deg) translate(140%);
}

@keyframes sdw_lineToside2 {
    0% {
        transform: rotate(-45deg) translate(140%);
    }
    100% {
        transform: rotate(-45deg) translate(40%);
    }
}

.description_txt_box {
    font-size: 1.5em;
}

.description_txt {
}

.description_gif {
    width: 70%;
    text-align: center;
}


